.info-img{
  max-height: 50vh;
  max-width: 50vh;
  padding: 5px;   
}

.ios info-img{
  width: auto;
  margin: auto;
  display: block;
}

.md info-img{
  width: auto;
  margin: auto;
  display: block;
}

.button{
  background-color: transparent;
  color: white;  
}
  
  @media (max-width: 800px){
    .info-img{
      max-height: 100%;
      
    }
    
  }


